.headerF {
    background-image: url("../../public/images/fondoH.png");
    background-size: 100% 100%;
    
}

.container {
    background-color: #000;
    font-family: Rationale;
    color: #fff;
}

.etA {
    text-decoration: none;
}

.footer {
    text-align: center;
    background-color: #113163;
    font-family: Rationale;
    color: #fff;
}

.text {
    font-family: Rationale;
    color: #fff;
}

.Typography {
    font-family: Rationale;
    color: #fff;
}

.textT {
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
