.header {
    font-family: Rationale;
}

.container {
    background-color: #000;
}

.etA {
    text-decoration: none;
}

.footer {
    text-align: center;
    background-color: #113163;
}

.text {
    font-family: Rationale;
    color: #fff;
}

.Typography {
    font-family: Rationale;
    color: #fff;
}